* {
  margin 0
  padding 0
}

html,
body {
  height 100%
}

ul {
  list-style: none;
}

input,
img {
  vertical-align: middle;
}

.el-dialog__header
  border-bottom 1px solid #DCDFE6

  .el-dialog__headerbtn .el-dialog__close
    font-size: 16px
    font-weight: bold;

.el-dialog__body
  padding-top 15px

.start-close-box
  .dialog-footer
    .button-wrapper
      margin-right 44px

    .next-time
      display flex
      text-align left
      margin-bottom: 20px

      .start
        flex 1
        box-sizing border-box
        padding-left: 40px

        p
          color #69C0FF

      .close
        flex 1
        box-sizing border-box
        padding-left: 80px

        p
          color #FF9C6E

  .active
    .start
      .el-input__inner, .el-input__prefix
        border-color #69C0FF
        color #69C0FF

    .close
      .el-input__inner, .el-input__prefix
        border-color #FF9C6E
        color #FF9C6E

.el-divider--horizontal
  margin 12px 0
